@{
    Layout = null;
}
@model LoginModel2
<!DOCTYPE html>

<html lang="en">

<head>
    <base href="../../../">
    <title>login</title>
    <meta charset="utf-8" />
    <meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 94,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue &amp; Laravel versions. Grab your copy now and get life-time updates for free." />
    <meta name="keywords" content="Metronic, bootstrap, bootstrap 5, Angular, VueJs, React, Laravel, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Keenthemes | Metronic" />

    <link rel="shortcut icon" href="~/Assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/Assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
    <!--end::Global Stylesheets Bundle-->
</head>

<body id="kt_body" class="bg-body">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Sign-in -->
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <!--begin::Aside-->
            <!--begin::Body-->


            <div class="d-flex flex-column flex-lg-row-fluid py-10" >

                <!--begin::Content-->
                <div class="d-flex flex-center flex-column flex-column-fluid">

                    <div>
                        <img src="~/assets/media/logos/favicon.ico" style="border-radius:50%; margin-bottom:30px;" />
                    </div>
                    <div>
                        <h1 style="color: #6fd896; font-size:2.3rem;">Welcome to Friendzr </h1>
                    </div>
                   
                </div>

                    <!--begin::Content-->
                    <div class="d-flex flex-center flex-column flex-column-fluid">
                        <!--begin::Wrapper-->
                        <div class="w-lg-500px p-10 p-lg-15 mx-auto">
                            <!--begin::Form-->
                            <form class="form w-100" novalidate="novalidate" action="/WhiteLable/Account/SendEmailForgetPassword" method="post">
                                <!--begin::Heading-->
                                <div class="text-center mb-10">
                                    <!--begin::Title-->
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    <!--end::Title-->
                                    <!--begin::Link-->
                                   @* <div class="text-gray-400 fw-bold fs-4">
                                    New Here?
                                    <a href="../../demo1/dist/authentication/layouts/aside/sign-up.html" class="link-primary fw-bolder">Create an Account</a>
                                </div>*@
                                    <!--end::Link-->
                                <div>
                                     <h4 class="text-dark mb-3"> Enter Your Email To Reset Your Password</h4>
                                </div>
                                </div>
                                <!--begin::Heading-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    
                                    <!--begin::Label-->
                                    <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input class="form-control form-control-lg form-control-solid" asp-for="Email" type="text" autocomplete="off" />

                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <span asp-validation-for="Email"></span>
                                    </div>

                                    <!--end::Input-->
                                </div>
                              
                                <!--end::Input group-->
                                <!--begin::Actions-->
                                <div class="text-center">
                                    <!--begin::Submit button-->
                                    <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                                        <span class="indicator-label">Send</span>
                                        <span class="indicator-progress">
                                            Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                 
                                </div>
                                <!--end::Actions-->
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Wrapper-->
                    </div>

                <!--end::Body-->
            </div>
            <!--end::Authentication - Sign-in-->
        </div>
    <!--end::Main-->
    <script>var hostUrl = "~/Assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/Assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/Assets/js/scripts.bundle.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>

</html>