@{
    Layout = null;
            }


    <a href="javaScript:$('#UploadExceleModal').modal('show')" class="btn btn-icon btn-bg-secondary btn-sm me-1">
        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Upload"><i class="bi bi-upload fs-3"></i></span>
    </a>
    <a href="javaScript:Create_DatatablePrint('#PageTable')" class="btn btn-icon btn-bg-secondary btn-sm me-1">
        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Print"><i class="bi bi-printer fs-3"></i></span>
    </a>
    <a href="javaScript:Create_DatatableExcele('#PageTable')" class="btn btn-icon btn-bg-secondary btn-sm me-1">
        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Export"><i class="bi bi-file-earmark-excel fs-3"></i></span>
    </a>
